*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-app-container {
  min-height: 100vh;
  padding: 10px;
  background: #f3f4f6;
}

.todo-app {
  margin: auto;
  margin-top: 30px;
  padding: 2rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 32rem;
  color: #374151;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.button {
  color: #6b7280;
  font-size: 14px;
  background: white;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid lightgray;
}

.other-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b7280;
  margin-top: 22px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}
